
.flexRow--carrusel__total {
    margin-bottom: 3rem;
}
.flexCol--card {
    background-color: #ffffff;
    margin: 0.5rem;
    border-radius: 12px;
}
.flexRowContent--global__row__summary {
    display: flex;
    justify-content: space-around;
}