.imageElement--screen__image--card {
    width: 100%;
}

.imageElement--delivery-prom {
    padding-top   : 8px;
    padding-bottom: 12px;
    width         : 81px;
    height        : 17px;
}

.sellingPrice,
.listPrice {
    text-align: left;
}

.currencyCode,
.price_listPriceLabel--summary-price,
.sellingPriceLabel {
    display: none;
}

.currencyLiteral::before {
    content: "$";
}

@media screen and (max-width: 1024px) {
    .price_sellingPrice {
        font-size: 20px !important;
    }
}