.vtex-add-to-cart-button-0-x-buttonDataContainerbuttonDataContainer {
    width  : 212px;
    height : 48px;
    padding: 0;
}

.buttonText--summary-button {
    color         : #1d2734;
    text-transform: lowercase;
}

@media screen and (max-width: 1024px) {
    .buttonText--summary-button {
        font-size: 10px;
    }
}