
.flexRow--carrusel__total {
    margin-bottom: 3rem;
}
.flexCol--card {
    background-color: #ffffff;
    margin: 0.5rem;
    border-radius: 12px;
}
.flexRowContent--global__main__summary {
    margin-bottom: 6px;
}

@media screen and (max-width: 1024px) {
    .flexRowContent--global__main__summary {
        display: flex; /*To show price-savings and wishlist items inline*/
    }
}