.wishlistIcon {
    background       : url("/arquivos/add-to--favorites.svg");
    background-repeat: no-repeat;
    width            : 17px;
    margin-top       : 6px;
    margin-right     : -2px;
}