.wishlistIcon--wish-list-icon {
    background: url("/arquivos/add-to--favorites.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px !important;
}
.wishlistIconContainer--wish-list-icon :global(.vtex-button) {
    border: 1px solid #1D2734;
}

@media screen and (max-width: 1024px) {
    .wishlistIconContainer--wish-list-icon :global(.vtex-button) {
        width: 33px !important;
        height: 23px !important; /*Doesn't work*/
    }
}