.savings--savings__summary {
    padding-top     : 8px;
    padding-left    : 12px;
    padding-right   : 12px;
    height          : 30px;
    border          : 1px solid #1D2734;
    border-radius   : 3.04px;
    color           : #ffffff;
    background-color: #1D2734;
}

@media screen and (max-width: 1024px) {
    .savings--savings__summary {
        font-size: 12px;
        width    : 50px !important;
        height   : 25px !important;
    }
}