/* .paragraph {
    font-family: ;
} */
.paragraph--iwatch {
    font-size: 2rem;
    font-weight: lighter;
    margin: 0;
}
.paragraph--ultra {
    font-size: 1rem;
    color: orange;
}
.paragraph--amazing {
    font-size: 1rem;
}