.wishlistIcon--wish-list-icon {
    background: url("/arquivos/add-to--favorites.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0;
}
.wishlistIconContainer--wish-list-icon :global(.vtex-button) {
    border: 1px solid #1D2734;
    padding: 0;
    width: 100%;
}
.iconSize {
    padding-left: 1rem;
}
.outline {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .wishlistIconContainer--wish-list-icon :global(.vtex-button) {
        width: 33px !important; /*Doesn't work*/
        height: 23px !important; /*Doesn't work*/
    }
}