.imageElement--screen__image--card {
    width: 100%;
}
.imageElement--delivery-prom {
    padding-top: 8px;
    padding-bottom: 12px;
    width: 81px;
    height: 17px;
}
.sellingPrice {
    text-align: left;
}