.slideChildrenContainer--custom__slider1 {
    margin: 0;
    padding: 0;
}
.paginationDot--isActive::before {
    content: "";
    position: absolute;
    right: -8px;
    width: 16px;
    height: 16px;
    background-color: #1d2734;
    border-radius: 50%;
}

.paginationDot::after {
    width: 44px;
    height: 2px;
    content: "";
    font-size: 0;
    background-color: #1d2734;
    position: absolute;
}

.paginationDot {
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}
.paginationDotsContainer--custom_slider1 {
    bottom: -44px;
}
.paginationDotsContainer--slider--products {
    bottom: -34px;
}
.flexRow--global__row__summary {
    margin-bottom: 3rem;
}