.productNameContainer {
    text-align: left;
    overflow  : hidden;
    max-height: 3.5em;
    color     : rgba(0, 0, 0, .6);
}

@media screen and (max-width: 1024px) {
    .element--product-shelf {
        width       : 160px;
        margin-left : 1rem;
        margin-right: 1rem;
    }

    .brandName {
        font-size: 12px !important;
    }

    .price_sellingPrice {
        font-size: 20px !important;
    }
}