.container {
    display         : flex;
    justify-content : center;
    border          : 1px solid #1D2734;
    background-color: #1D2734;
    border-radius   : 30px;
    padding         : 10px;
}

.label {
    font-size     : 14px;
    color         : #FFFFFF;
    text-transform: lowercase;
}

.label::first-letter {
    text-transform: capitalize;
}