/*---Fills the search-bar icon in the top header---*/
.autoCompleteOuterContainer--header__searchBar-desktop :global(.vtex-input__suffix) {
    background-color: #F5F4F6;
}

.logoContainer--logo__itg--desktop {
    padding-left: 0;
}

@media screen and (max-width: 1024px) {
    .logoLink--logo__itg--mobile {
        padding-top: 0;
    }
}